.keyword {
    -fx-fill: #000080;
    -fx-stroke: #000080;
    -fx-stroke-width: 0.25;
}
.paren {
    -fx-fill: black;
}
.brace {
    -fx-fill: #000080;
    -fx-stroke: #000080;
    -fx-stroke-width: 0.25;
}
.bracket {
    -fx-fill: #000080;
}
.semicolon {
    -fx-fill: black;
}
.string {
    -fx-fill: darkgreen;
}
.comment {
    -fx-fill: darkgray;
    -fx-stroke: darkgray;
    -fx-stroke-width: 0.25;
}
.literal {
    -fx-fill: #000080;
    -fx-stroke: #000080;
    -fx-stroke-width: 0.25;
}